# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build, distribution, and packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Testing, coverage, and reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor settings
.vscode/
.idea/
*.code-workspace

# OS-specific files
.DS_Store

# Gymnasium-specific (monitoring outputs, videos, logs)
videos/
logs/
monitor.csv

# Stable Baselines3 (SB3) specific (logs, TensorBoard outputs)
tensorboard/
logs/